body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

table.custom-table {
    width: 750px;
    border: 5px solid black;
    border-collapse: collapse;
    margin-top: 10px;
}

table.custom-table th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table.custom-table th {
    background-color: #f2f2f2; /* заштриховані комірки */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}
